.container {
    background-color: transparent;
    border: 1px solid var(--border-color);
    border-radius: 0.125rem;
    display: flex;
    font-size: 0.875rem;
    position: relative;
}

.select {
    appearance: none;
    background-color: transparent;
    border: none;
    padding-block: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 2.5rem;
    width: 100%;
    z-index: 1;
}

.icon {
    display: flex;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
}