.header {
    align-items: end;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    padding-block: 0.75rem;
    padding-inline: 2rem;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

.ul {
    position: relative;
    display: flex;
    gap: 1.25rem;
}

.selectedPage {
    border-bottom: 2px solid var(--primary-highlight-color);
}

.page, .selectedPage {
    width: calc(100% / 2);
    color: #303030;
    text-decoration: none;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
    z-index: 1;
}

.ul a:hover {
    color: #000;
}

.bg {
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% / 2);
    left: 0;
    border-radius: 0.25rem;
    transition: 0.2s all;
}


.ul a:hover:nth-child(1) ~ .bg {
    background-color: #f1f1f1;
    left: 0;
} 

.ul a:hover:nth-child(2) ~ .bg {
    background-color: #f1f1f1;
    left: calc(100% / 1.85);
} 