.header {
    align-items: end;  
    background-color: var(--tertiary-background-color);
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
    padding: 0.75rem 2rem 0rem 2rem;
    width: 100%;
}

.logo {
    width: 100px;
}

.logo img {
    width: 100%;
}

.ul {
    position: relative;
    display: flex;
    gap: 0.5rem;
}

.ul a{
    color: var(--tertiary-link-color);
}

.selectedPage {
    border-bottom: 2px solid var(--primary-highlight-color);
}

.page, .selectedPage {
    border-top-left-radius: 0.125rem;
    border-top-right-radius: 0.125rem;
    color: var(--tertiary-text-color);
    font-size: 0.875rem;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    text-decoration: none;
    transition: 0.2s all;
}

.page:hover, .selectedPage:hover {
    background-color: var(--secondary-background-color);
}

.profile {
    aspect-ratio: 1 / 1;
    border: none;
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

.logo, .profile {
    margin-bottom: 0.75rem;
}

.headerResponsivo{
    display: none;
    flex-direction: column;
    padding: 0.75rem 2rem 0rem 2rem;
    background-color: var(--tertiary-background-color);
    border-bottom: 1px solid var(--border-color);
    gap: 0.5rem
}

.headerTop{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.headerBottom{
    display: flex;
    justify-content: center;
}


@media (max-width: 600px) {
    .headerResponsivo{
        display: flex;
    }

    .header{
        display: none;
    }
}