.container {
    max-width: 67.5rem;
    padding: 2rem;
    width: 100%;
}

.tituloPrimario {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

.barraOpcoes {
    background-color: var(--primary-background-color);
    gap: 1.25rem;
    padding-block: 1.5rem;
    position: sticky;
    top: 0;
}

.containerBotoes {
    display: flex;
    justify-content: space-between;
}

.areaBotoes {
    display: flex;
    gap: 0.5rem;
}

.areaPesquisa {
    max-width: 25rem;
    width: 100%;
}

.barraPesquisa {
    width: 100%;
}

.linha {
    background-color: var(--border-color);
    content: "";
    height: 1px;
}

.containerCartoes {
    gap: 1.25rem;
}

.cartaoNaoSelecionado {
    border: 1px solid var(--border-color);
}

.cartaoSelecionado {
    border: 1px solid var(--border-selected);
}

.cartaoNaoSelecionado, .cartaoSelecionado {
    background-color: var(--tertiary-background-color);
    border-radius: 0.25rem;
    display: flex;
    gap: 0.75rem;
    padding: 1rem;
}

.areaImagemCartao {
    display: flex;
}

.imagemCartao {
    aspect-ratio: 4/6;
    border-radius: 0.25rem;
    width: 5rem;
}

.areaConteudoCartao {
    justify-content: space-between;
    width: 100%;
}

.areaConteudoCartao, .areaTexto {
    gap: 0.5rem;
}

.container, .areaConteudo, .barraOpcoes, .containerCartoes, .areaConteudoCartao, .areaTexto {
    display: flex;
    flex-direction: column;
}

.tituloSecundario {
    font-size: 1.25rem;
    color: var(--primary-text-color);
}

.paragrafo {
    align-items: center;
    display: flex;
}

.destaque {
    color: var(--primary-text-color);
    font-size: 1rem;
}

.linhaHorizontal {
    background-color: var(--tertiary-text-color);
    content: "";
    display: flex;
    height: 1em;
    width: 1px;
}

.assunto {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    display: flex;
    gap: 0.25rem;
}

.statusIndisponivel {
    background-color: var(--red-background);
    border: 1px solid var(--red-border);
}

.statusDisponivel {
    background-color: var(--green-background);
    border: 1px solid var(--green-border);
}

.paragrafo, .assunto, .statusIndisponivel, .statusDisponivel {
    color: var(--tertiary-text-color);
    font-size: 0.875rem;
}

.assunto, .statusIndisponivel, .statusDisponivel {
    border-radius: 0.5rem;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
}