.tituloPrimario {
    font-size: 1.5rem;
    color: var(--primary-text-color);
}

.barraOpcoes {
    background-color: var(--primary-background-color);
    gap: 1.25rem;
    padding-block: 1.5rem;
    position: sticky;
    top: 0;
}

.containerPesquisa {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.containerBotoes {
    display: flex;
    justify-content: space-between;
}

.blocoPesquisa {
    display: flex;
    gap: 0.5rem;
}

.blocoFiltro{
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}

.selectLabel {
    color: var(--primary-text-color);
    padding: 0 0.15rem;
    font-size: 0.9rem;
}

.areaBotoes{
    display: flex;
    gap: 0.5rem;
}

.areaPesquisa {
    max-width: 25rem;
    width: 100%;
}

.barraPesquisa {
    width: 100%;
}

.barraAno {
    max-width: 5.5rem;
    width: 100%;
}

.linha {
    background-color: var(--border-color);
    content: "";
    height: 1px;
}

.containerCartoes {
    gap: 1.25rem;
}

.cartaoNaoSelecionado {
    cursor: pointer;
    border: 1px solid var(--border-color);
}

/* .cartaoNaoSelecionado > *{
    cursor: auto;
} */


.cartaoSelecionado {
    border: 1px solid var(--border-selected);
}

.cartaoNaoSelecionado, .cartaoSelecionado {
    background-color: var(--tertiary-background-color);
    border-radius: 0.25rem;
    display: flex;
    gap: 0.75rem;
    padding: 1rem;
    cursor: pointer;
}

.imagemCartao {
    aspect-ratio: 4/6;
    border-radius: 0.25rem;
    width: auto;
    height: 120px;
}

.imagemCartao img{
    width: 100%;
    color: var(--primary-text-color);
}

.areaConteudoCartao {
    justify-content: space-between;
    width: 100%;
}

.areaConteudoCartao, .areaTexto {
    gap: 0.5rem;
}

.areaConteudo, .barraOpcoes, .containerCartoes, .areaConteudoCartao, .areaTexto {
    display: flex;
    flex-direction: column;
}

.tituloSecundario {
    font-size: 1.25rem;
    color: var(--primary-text-color);
}

.paragrafo {
    align-items: center;
    display: flex;
}

.destaque {
    color: var(--primary-text-color);
    font-size: 1rem;
}

.linhaHorizontal {
    background-color: var(--tertiary-text-color);
    content: "";
    display: flex;
    height: 1em;
    width: 1px;
}

.grupoTexto{
    display: flex;
    align-items: center;
    gap: 0.5rem
}

.assunto {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    display: flex;
    gap: 0.25rem;
}

.statusIndisponivel {
    background-color: var(--red-background);
    border: 1px solid var(--red-border);
}

.statusDisponivel {
    background-color: var(--green-background);
    border: 1px solid var(--green-border);
}

.paragrafo, .assunto, .statusIndisponivel, .statusDisponivel {
    color: var(--tertiary-text-color);
    font-size: 0.875rem;
}

.assunto, .statusIndisponivel, .statusDisponivel {
    border-radius: 0.5rem;
    padding-block: 0.25rem;
    padding-inline: 0.5rem;
}

/* Media Query */

@media (max-width: 800px){
    .containerPesquisa{
        flex-direction: column;
        gap: 1rem;
    }

    .blocoFiltro{
        min-height: 2.4rem;
    }

    .cartaoNaoSelecionado .areaBotoes{
        margin-top: 1rem;
    }
    .cartaoSelecionado .areaBotoes{
        margin-top: 1rem;
    }

    .imagemCartao{
        display: none;
    }
}

@media (max-width: 650px) {
    .action{
        display: none;
    }

    .cartaoNaoSelecionado{
        flex-direction: column-reverse;
    }

    .cartaoNaoSelecionado .areaBotoes{
        flex-direction: column;
        margin-top: 1rem;
    }

    .cartaoSelecionado{
        flex-direction: column-reverse;
    }

    .cartaoSelecionado .areaBotoes{
        flex-direction: column;
        margin-top: 1rem;
    }

    .linhaHorizontal{
        display: none;
    }
}