.containerArea{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr)) ;
    gap: 3rem;
    margin-top: 3rem;
    border-radius: 0.25rem
}

.form{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.form input:focus{
    border-color: var(--border-selected);
    transition: 0.2s;
}

.blocoInput{
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    max-width: 50rem;
    width: 100%;
}

.blocoInput2{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 50rem;
    width: 100%;
}

.blocoInput2 input{
    width: 100%;
}

.assunto {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    display: flex;
    gap: 0.25rem;
}

.form input[type='file']{
    display: none;
}

.inputFile{
    padding: 1rem;
    background-color: var(--primary-highlight-color);
    width: min-content;
    height: min-content;
}