.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.areaConteudo {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
    overflow-y: auto;
}

.conteudo {
    display: flex;
    flex-direction: column;
    max-width: 67.5rem;
    padding: 2rem;
    width: 100%;
}