.container {
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    align-items: center;
}

.paragrafos {
    display: flex;
    flex-flow: column wrap;
}

.divGif {
    display: flex;
    justify-content: center;
}

.gif {
    height: 20rem;
}

.divBotao button {
    width: 8rem;
}

