.footer {
    align-items: center;
    background-color: var(--tertiary-background-color);
    border-top: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    width: 100%;
}

.paragraph {
    color: var(--text-color);
    font-size: 0.875rem;
}