.container {
    gap: 1.5rem;
    max-width: 67.5rem;
    width: 100%;
}

.contentArea {
    gap: 1rem;
}

.container, .contentArea {
    display: flex;
    flex-direction: column;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}

.buttonsArea {
    display: flex;
    gap: 0.5rem;
}

.input {
    background-color: var(--secondary-background-color);
}

.primaryButton {
    background-color: var(--primary-highlight-color);
    color: var(--primary-background-color);
    cursor: pointer;
    font-weight: bold;
}

.input, .primaryButton {
    border: none;
    border-radius: 0.125rem;
    font-size: 0.875rem;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
}