.container {
    background-color: var(--tertiary-background-color);
    display: flex;
    justify-content: flex-end;
    padding-block: 0.75rem;
    padding-inline: 2rem;
}

.lista {
    display: flex;
    gap: 0.8rem;
}

.link {
    text-decoration: none;
}

.botao {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.link, .botao {
    color: var(--tertiary-text-color);
    font-size: 0.875rem;
}

.link:hover, .botao:hover{
    color: var(--tertiary-link-color);
}