@import url(https://fonts.googleapis.com/css?family=Oxygen:300,regular,700);

:root {
    --border-color: #e4e4e4;
    --link-color: #3882f6;
    --primary-background-color: #fafafa;
    --primary-highlight-color: #a997df;
    --secondary-background-color: #f0f0f0;
    --secondary-highlight-color: #a5cbc3;
    --tertiary-highlight-color: #3882f6;
    --text-color: #656565;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}

body{
    background-color: var(--primary-background-color);
}

ul {
    list-style: none;
}
