@import url(https://fonts.googleapis.com/css?family=Oxygen:300,regular,700);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond:regular,500,600,700,800,italic,500italic,600italic,700italic,800italic);
:root {
    --primary-text-color: #171717;
    --seconday-text-color: #fff;
    --tertiary-text-color: #656565;

    --red-text-color: #D95656;

    --border-color: #e4e4e4;
    --green-border: #86d492;
    --orange-border: #d7bb97;
    --red-border: #e3a7a7;

    --orange-background: #feddb4;
    --green-background: #d4f5d9;
    --red-background: #ffdcdc;

    --primary-background-hover: #6232CB;
    --secondary-background-hover: #ebebeb;
    --tertiary-background-hover: #769c94;

    --primary-background-color: #fafafa;
    --secondary-background-color: #f0f0f0;
    --tertiary-background-color: #fff;

    --link-color: #fff;
    --secondary-link-color: #656565;
    --tertiary-link-color: #171717;

    --primary-highlight-color: #7D53DE;
    --secondary-highlight-color: #a5cbc3;
    --tertiary-highlight-color: #3882f6;

    --border-selected: #6232CB;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif; 
    text-decoration: none; 
}

body{
    background-color: var(--primary-background-color);
}

ul {
    list-style: none;
}

