.botaoPrimario {
    background-color: var(--primary-highlight-color);
    border: none;
    border-radius: 0.125rem;
    color: var(--primary-background-color);
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    font-weight: bold;
    justify-content: center;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
}

.botaoPrimario:disabled {
    cursor: unset;
    opacity: 50%;
}