.primario {
    background-color: var(--primary-highlight-color);
    border: 1px solid var(--border-color);
    color: var(--seconday-text-color);
}

.primario a{
    width: 100%;
    height: max-content;
    vertical-align: middle;
    text-decoration: none;
    color: var(--link-color);
}

.primario:not([disabled]):hover{
    background-color: var(--primary-background-hover);
    transition: .2s;
}

.secundario {
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--tertiary-text-color);
}

.secundario a{
    color: var(--secondary-link-color);
}

.secundario:not([disabled]):hover{
    background-color: var(--secondary-background-hover);
    color: var(--primary-text-color);
    transition: 0.2s;
}

.primario, .secundario, .terciarioConfirma, .terciarioCancela, .botaoVoltar {
    border-radius: 0.25rem;
    cursor: pointer;
    display: flex;
    font-size: 0.875rem;
    font-weight: 600;
    justify-content: center;
    padding: 0.45rem 0.75rem 0.45rem 0.75rem;
    align-items: center;
}

.primario:disabled, .secundario:disabled {
    cursor: unset;
    opacity: 50%;
}

.terciarioConfirma{
    background-color: var(--secondary-highlight-color);
    border: 1px solid var(--border-color);
    color: var(--primary-text-color);
}

.terciarioCancela{
    background-color: transparent;
    border: 1px solid var(--border-color);
    color: var(--red-text-color);
}

.terciarioConfirma:hover{
    background-color: var(--tertiary-background-hover);
    transition: .2s;
}

.terciarioCancela:hover{
    background-color: var(--secondary-background-hover);
    transition: .2s;
}

.terciarioCancela a {
    color: var(--red-text-color);
}

.botaoVoltar {
    background-color: transparent;
    border: transparent;
    border-radius: 50%;
    padding: 0.25rem;
    color: var(--tertiary-link-color)
}

.botaoVoltar:hover {
    color: var(--primary-background-hover);
    background-color: var(--secondary-background-hover);
    transition: .2s;
}

.botaoVoltar > span{
    font-size: 1.8rem;
} 

