.textoAcessibilidade {
    padding: 2rem;
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    color: var(--primary-text-color);
}

.atalhos {
    color: var(--tertiary-text-color);
}

.link {
    color: var(--secondary-link-color);
}