.container {
    align-items: center;
    justify-content: center;
    min-height: 91.9vh;
    padding: 2rem;
}

.logo {
    margin-bottom: 4rem;
}

.areaConteudo {
    align-items: center;
    max-width: 16rem;
    gap: 2rem;
    width: 100%;
}

.formulario {
    gap: 1rem;
    width: 100%;
}

.rotulo {
    gap: 0.5rem;
}

.link {
    color: var(--link-color);
    font-size: 0.875rem;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.container, .areaConteudo, .formulario, .rotulo {
    display: flex;
    flex-direction: column;
}