.container {
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.contentArea {
    align-items: center;
    max-width: 16rem;
    gap: 1.25rem;
    width: 100%;
}

.form {
    gap: 1rem;
    width: 100%;
}

.label {
    gap: 0.5rem;
}

.input {
    background-color: var(--secondary-background-color);
}

.link {
    color: var(--link-color);
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

.primaryButton {
    background-color: var(--primary-highlight-color);
    color: var(--primary-background-color);
    font-weight: bold;
}

.input, .primaryButton {
    border: none;
    border-radius: 0.125rem;
    padding: 0.5rem;
}

.input, .link, .primaryButton {
    font-size: 0.875rem;
}

.container, .contentArea, .form, .label {
    display: flex;
    flex-direction: column;
}