.input {
    background-color: var(--secondary-background-color);
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    font-size: 0.875rem;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;
    outline: none;
    color: var(--primary-text-color);
}

.input:focus{
    border-color: var(--border-selected);
    transition: 0.2s;
}