.navbar{
    width: 100vw;
    background-color: #fff;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
}

.nav_content{
    width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: auto;
    height: 70px;
}

.logo{
    width: 100px;
}

.logo img{
    width: 100%;
}

.ul{
   display: flex;
   gap: 20px;
   position: relative;
}

.ul a{
    position: relative;
    width: calc(100% / 2);
    color: #303030;
    text-decoration: none;
    padding: 6px;
    border-radius: 4px;
    font-size: 15px;
    z-index: 1;
}

.ul a:hover{
    color: #000;
}

.bg{
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% / 2);
    left: 0;
    border-radius: 4px;
    transition: 0.2s all;
}


.ul a:hover:nth-child(1) ~ .bg{
    background-color: #f1f1f1;
    left: 0;
} 

.ul a:hover:nth-child(2) ~ .bg{
    background-color: #f1f1f1;
    left: calc(100% / 1.85);
} 